<!DOCTYPE html>
<html>
<head>
<title>Submit Form Using AJAX and javascript</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link href="css/style.css" rel="stylesheet">
<script src="jquerySave.js"></script>
</head>
<body>
	<h2>Submit Form Using AJAX and javascript</h2>
	<!-- Required Div Starts Here -->
	<div>
		<form class="form-inline" style="margin: 20px 20px 20px 20px"
			id="customerForm">
			<div class="form-group">
				<label for="name" style="margin-right: 5px">Name:</label>
				<input type="text" class="form-control" id="name"
					placeholder="Enter Name" />
			</div>
			<div class="form-group">
				<label for="email" style="margin-left: 20px; margin-right: 5px">Email:</label>
				<input type="text" class="form-control" id="email"
					placeholder="Enter Email" />
			</div>
			<button type="submit" class="btn btn-default"
				style="margin-left: 20px; margin-right: 5px">Submit</button>
		</form>
	</div>
</body>
</html>